<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"] - ComplaintManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComplaintManagementSystem.styles.css" asp-append-version="true" />

    <link href="~/jtable.2.4.0/themes/metro/darkgray/jtable.min.css" rel="stylesheet" />
    
    <script src="~/jquery-3.7.1.min.js"></script>
    <script src="~/jquery-ui-1.13.2/jquery-ui.min.js"></script>

    <script src="~/jtable.2.4.0/jquery.jtable.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
